{% extends 'base.html' %}

{% block title %}Nueva contraseña - Diálogos {% endblock %}

{% block activo_login %}is-active{% endblock %}

{% block content %}
<div class="section">
	<div class="container">
		<div class="columns is-centered is-vcentered">
			<div class="column is-narrow has-text-centered">
				<div class="box">
    {% if validlink %}
        <p>Ingresa (y confirma) tu nueva contraseña.</p>
        <form action="" method="post">
        {% csrf_token %}
		<div class="field">
                    {{ form.new_password1.errors }}
                    <label class="label" for="id_new_password1">Nueva contraseña:</label>
                    {{ form.new_password1 }}
		</div>
		<div class="field">
                    {{ form.new_password2.errors }}
                    <label class="label" for="id_new_password2">Confirma contraseña:</label>
                    {{ form.new_password2 }}
		</div>    
	<div class="field is-grouped">
		<div class="control">
			<button class="button is-link">Cambiar mi contraseña</button>
		</div>
	</div>
        </form>
    {% else %}
        <h1>El cambio de contraseña falló.</h1>
        <p>El link de cambio de contraseña era invalido, posiblemente porque ya fue usado. Solicita un nuevo cambio de contraseña.</p>
    {% endif %}

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
