{% extends 'base.html' %}
{% block title %}Error 403 - Diálogos{% endblock%}
{% block content %}
<div class="section">
        <div class="container">
                <div class="columns is-centered is-vcentered">
                        <div class="column is-narrow has-text-centered">
                                <div class="box">
		<h1>¡NO PASARÁN!</h1>
		<h2>Lo sentimos, no puedes acceder a esta página.</h2>
		<p>¿Crees que deberías poder entrar? Bueno, pues no.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}
