{% extends 'base.html' %}
{% block title %}<title>Error 500 - Diálogos</title>{% endblock%}
{% block content %}
<div class="section">
        <div class="container">
                <div class="columns is-centered is-vcentered">
                        <div class="column is-narrow has-text-centered">
                                <div class="box">
		<h1>¡Maldición!</h1>
		<h2>Hay un error en el servidor.</h2>
		<h6>Probablemente está abrumado :(</h6>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}
