<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<meta name="description" content="Diálogos es una serie de instancias de discusión y acción promovidas por la Facultad">
	{% load static %}
	<title>{% block title%}Diálogos{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'faif.css' %}">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

	<!--[if lt IE 9]>
	<script src="{% static 'html5shiv.min.js' %}"></script>
        <![endif]-->

	{% block css %}{% endblock %}

</head>
<body>

<!--

	Sitio web creado por Daniel Corvalán
	https://corvalan.dev

	¡CHÚPALO KAROL DANCE!

-->

	<div class="container">

<!-- INICIO DE LA NAVBAR -->

<nav class="navbar" aria-label="main navigation">
  <div class="navbar-brand">
	  <a class="navbar-item" href="{% url 'inicio' %}">
		  <img src="{% static 'logo.png' %}" width="112" height="28" alt="Logo de Diálogos"
>
	  </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
	    <a class="navbar-item {% block activo_inicio %}{% endblock %}" href="{% url 'inicio' %}">
        Inicio
      </a>

      <a class="navbar-item {% block activo_enviar %}{% endblock %}" href="{% url 'enviar_mail' %}">
	Enviar documento
      </a>

      {% if user.is_authenticated %}
      <a class="navbar-item {% block activo_subir %}{% endblock %}" href="{% url 'crear_acta' %}">
        Subir recurso
      </a>

      <a class="navbar-item {% block activo_foto %}{% endblock %}" href="{% url 'subir_foto' %}">
        Subir foto
      </a>
      {% endif %}

    </div>

    <div class="navbar-end">
      <div class="navbar-item {% block activo_login %}{% endblock %}">
        <div class="buttons">
	  {% if user.is_authenticated %}
      	  <div class="navbar-item">
		  <p>Hola, {{ user.get_short_name }}</p>
          </div>
	  <div class="navbar-item">
	  <a class="button is-light" href="{% url 'logout' %}?next=/">
            Logout
          </a>
	  </div>
	  {% else %}
	  <div class="navbar-item">
	  <a class="button is-light" href="{% url 'login' %}">
            Log in
	  </a>
          </div>
	  {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>

{% block content %}{% endblock %}

<!-- INICIO DEL FOOTER -->
<footer class="footer">
  <div class="content has-text-centered has-text-white">
	  <p>
	  2019 © Diálogos {{ request.headers.user_agent }}<br>
	  Teléfonos: <a style="color:inherit;" href="tel:+5622222222">(56 2) 222 2222</a><br>
	  <a style="color:inherit;" href="{% if 'iPhone' in request.META.HTTP_USER_AGENT or 'iPad' in request.META.HTTP_USER_AGENT %}maps://?q={% elif 'Android' in request.META.HTTP_USER_AGENT %}geo://?q={% else %}https://www.google.com/maps/search/?api=1&query={% endif %}Melipilla%2C+Chile">Melipilla, Chile</a>
	  </p>
	  <a aria-label="Presiona para acceder a nuestra cuenta en Twitter" href="https://twitter.com/coderdojomeli">
		  <span class="card-icon is-large">
			  <i class="fab fa-lg fa-twitter-square" aria-hidden="true"></i>
		  </span>
	  </a>
	  <a aria-label="Presiona para acceder a nuestro fanpage en Facebook" href="https://www.facebook.com/coderdojomeli/">
		  <span class="card-icon is-large">
			  <i class="fab fa-lg fa-facebook-square" aria-hidden="true"></i>
		  </span>
	  </a>
	  <a aria-label="Presiona para acceder a nuestra cuenta en Instagram" href="https://www.instagram.com/coderdojomeli/">
		  <span class="card-icon is-large">
			  <i class="fab fa-lg fa-instagram" aria-hidden="true"></i>
		  </span>
	  </a>

  </div>
</footer>

{% block javascript %}{% endblock %}
<script>
// DROPDOWN NAV
document.addEventListener('DOMContentLoaded', function(){

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( function(el) {
      el.addEventListener('click', function() {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>

</div>
</body>
</html>
